body{
    /*Mqrgen predenterminado*/
    margin: 0%;
    /*Margen pa' dentro*/
    padding: 0%;
    width: 100%;
    height: auto;
    background-color:#d394e8;
}

main{
    background-color: #431253;
    width: 100%;
    height: auto;
}

p{
    color: #431253;
}


/*Navegacion*/

header{
    
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    position: sticky;
    top: 2px;
    
}

header nav{
    
    /*DISPLAY mover elemneto de diferentes formas*/
    display: flex;
    justify-content: center;
    background-color:#ed7447;
  

}

header nav .nav-menu{
    background-color: #ed7447;
    /**Eliminar viñetas*/
    list-style:none;
    width: 100%;
    height: 30px;
    display: flex;
    margin: 15px; 
    justify-content: center;
    align-items: center;
    
}

nav .nav-menu a{
   
    /*  QUITAR EL SUBRAYADO*/
    text-decoration: none;
    /*DAR ESPACIAADO ENTRE CADA PALABRA DEL MENÚ*/
    margin: 40px;
    color: #fdfade;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;

    
}
nav .nav-menu a:hover{
    color: #ed7447;
}
/*PÁGINA INICIO*/

.imagen-inicio{
    background-color: #fdfade;
    padding-top: 50px;
    width: 50%;
    height: 600px;
    float: left;
    
    display: flex;
    justify-content: right;
}

.imagen-inicio img{

   
    width: 450px;
    height: 450px;
    
}


.mensaje-bienvenida{
    background-color:#fdfade;
    float: right;
    text-align: left;
    width: 50%;
    height: 600px;
    padding-top: 200px;
    /*CENTRAR DIV*/
   margin: auto;
}

.mensaje-bienvenida .texto{
    color: #431253;
    width: 70%;
}

.mensaje-bienvenida h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 80pt;
}

/***************MENÚ INICIO*****************/
.inicio{
    width: 100%;
    height: 500px;
}
.inicio-menu{
    background-color: #431253;
   /* margin-top: 0px;*/
   margin-top: 170px;
   margin-bottom: 130px;


}

.inicio-menu .lista-menu {
    
    width: 90%;
    height: 400px;
    margin: 100px;
    list-style: none;
    /*align-items: center;*/
    display: flex;
    justify-content: center;
    
    /*Altura*/
}

.inicio-menu .lista-menu img{
    
    width: 90%;
    


}

.inicio-menu .lista-menu li{
    text-align: center;
    
}


.lista-menu a{

    text-decoration: none;
    margin: 30px;
    color: #fdfade;

}
.lista-menu button{
    width: 40%;
    height: 40px;
    margin: 10px;
    border-radius: 20px ;
    border: none;
    background-color: #ed7447;
}

/*.lista-menu button:hover{
    background-color: #ed7447; 
    color: #fdfade;
}/*



/*+**********ESTRELLAS*************************************/

.significado{
    width: 100%;
    height: 500px;
}
.estrellas-contenido{
    background-color: #fdfade;
    width: 50%;
    height: 500px;
    float: left; /*Posibl error*/
    padding: 80px;

}

.estrellas-contenido h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 70pt;
    color: #ed7447;
}

.estrellas-contenido h4{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30pt;
    color: #ed7447;
}

.imagen-estrellas{
    background-color: #fdfade;
    width: 50%;
    height: 500px;
    float: right; /*posible error*/
}

.imagen-estrellas img{
    width: 500px;
    height: auto;

}


/******CARRUSEL********************************/
/*.gran-galeria{
    width: 100%;
    height: 900px;
    background-color: #d394e8;
    float: left;
}*/

.galeria{
    width: 100%;
    height: 50px;
    padding: 80px 20px 20px 20px;
    /* PROBLEMA PARA MENU EN MOVIMIENTO*/
    background-color:#ed7447;
}

.galeria .carousel{
    max-width: 800px;
}

.carousel-item {
    height: 800px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ejemplo-elemento{
    height: auto;
    width: 450px;
    margin: 10px 100px 10px 100px;
}



.texto-elemento{
    max-width: 50%;
  font-size: 15px;
  text-align: center;
  color: #fdfade;
}



.info-elemento{
    font-weight: bold;
    text-align: center;
}


.info-elemento p{
    margin-bottom: 0;
    color: #fdfade;
}

.info-elemento .nombre-elemento{
    font-size: 1.2 rem;
    color: #ed7447;

}
.separacion img{
 width: 80px;
 height: 80px;
 margin-left: 45%;
 margin-top: 30px;
}
.separacion{
    width: 100%;
    height: 150px;
}

.curiosidad{
    width: 70%;
    height: 70%;
}

.formulario label{
    width: 100%;
    height: 220px;
    

}

.formulario input{
    width: 100%;
    height: 80%;
    border: solid;
    border-color: #431253;
    border-radius: 20px;
}

.formulario button{
    width: 50%;
    margin: 15px; 
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ed7447;
    color: #431253;
    font-family: 'Open Sans', sans-serif;font-size: medium;
    font-weight: 800;

    
}

button:hover{
    background-color: #431253;
    color: #fdfade;
}